{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ end }}

{{ .Content }}

{{ range first 6 (where .Data.Pages "Section" "=" "post") }}
  <article>
    <!-- the title summary -->
    <h3>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <span class="datesum"><br>- {{ .Date.Format "Jan 02" }}</span>
    </h3>
    <div style="font-size:97%">
      {{ .Summary }}
      {{ if .Truncated }}
      <!-- a read more link if the summary is truncated... -->
      <a href="{{ .RelPermalink }}">Read More…</a>
      {{ end }}
    </div>
  </article>
{{ end }}

<ul>
  {{ range (where .Data.Pages "Section" "=" "post") }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
