{{ if .IsHome }}
  {{ .Scratch.Set "eq" "=" }}
  {{ .Scratch.Set "section" "post" }}
{{ else }}
  {{ .Scratch.Set "eq" "!=" }}
  {{ .Scratch.Set "section" "" }}
{{ end }}

{{ range first 6 (where .Pages "Section" (.Scratch.Get "eq") (.Scratch.Get "section")) }}
<article>
  <h3>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <span class="datesum"><br>- {{ .Date.Format "Jan 02" }}</span>
  </h3>
  <div class="sum">
{{ with .Description }}
  {{ $.Scratch.Set "summary" (markdownify .) }}
{{ else }}
  {{ $.Scratch.Set "sumplain" ((delimit (findRE "(<p.*?>(.|\n)*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify) }}

  {{ $.Scratch.Set "summary" ($.Scratch.Get "sumplain" | truncate (default 200 .Site.Params.summary_length) (default " &hellip;" .Site.Params.text.truncated ) | replaceRE "&amp;" "&" | safeHTML) }}
{{ end }}
{{ $.Scratch.Get "summary" }}
{{ if ge (($.Scratch.Get "sumplain") | strings.RuneCount) .Site.Params.summary_length }}
<a href="{{ .RelPermalink }}">…</a>
{{ end }}
  </div>
</article>

{{ end }}
{{ .Scratch.Delete "eq" }}
{{ .Scratch.Delete "section" }}
